@media (min-width: 1200px){
    .box{
           background-color: "#E6F0FF";
            height: '100vh';
            display:'flex';
            flex-direction:'row';
    }
    .house-Img{
        width: 50vw;
        height: 100vh;
    }
    .description {
        text-align: left;
        margin-top: 150px;
        margin-left: 150px;
    }
    .form{
        margin-top: 10px;
        margin-bottom: 5px;
        
    }
    .button{
        margin-top: 20px;
        margin-left: 10px;
        
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .house-Img{
        align-items: center;
        width: 45vw;
        height: 100vh;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .house-Img{
        align-items: center;
        width: 35vw;
        height: 100vh;
    }
}

@media (max-width: 767px){
    .house-Img{
        align-items: center;
        width: 25vw;
        height: 100vh;
    }
}